html, body {
	background: #FFFFFF;
	font-family: Helvetica, Arial, Verdana, sans-serif, Courier;
	color: #e00b0b;
}

a {
	color: #e00b0b;
	text-decoration: none;
}

.maintable {
	border: 1px dashed #222222;
}

.title {
	font-size: 20px;
	padding: 5px 5px 0px 5px;
	font-weight: bold;
}

.question {
	background: #e00b0b;
 	color: #FFFFFF;
 	padding: 10px;
}

form {
	padding: 0px;
	margin: 0px;
}